body{
  margin:0;
  align-items:center;
  justify-content: center;
  display:flex;
  flex-direction:column;
  height:100vh; 
  font-family:sans-serif;
  background-size:cover;
  overflow:hidden;         
}
h2{
  text-transform: capitalize;
  letter-spacing:4px;
  text-align:center;
  font-size:14px;
}
.clock{
  display:flex;
}
.clock div {
  margin: 5px;
  position:relative;
}
.clock span {
  width:100px;
  height:80px;
  background: slateblue;
  opacity:0.8;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:50px;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.3);
  
}
.clock .text{
  height:30px;
  font-size:10px;
  background: darkblue;
  text-transform: uppercase;
  letter-spacing:2px;
  opacity:0.8;
  color:white;
}
.clock #ampm {
  bottom:0;
  position: absolute;
  height:30px;
  width:60px;
  background: green;
  font-size:20px;
  
}
